n8n-workflow.json
{
  "name": "Gemini Image Generation via MCP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini-image-gen",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "gemini-image-gen"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.image_base64 }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.prompt }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter-validation",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://aiplatform.googleapis.com/v1/projects/YOUR_PROJECT_ID/locations/us-central1/publishers/google/models/imagegeneration:predict",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCloudNaturalLanguageApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $credentials.googleCloudNaturalLanguageApi.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ {\n  \"instances\": [\n    {\n      \"prompt\": $json.prompt,\n      \"image\": {\n        \"bytesBase64Encoded\": $json.image_base64\n      }\n    }\n  ],\n  \"parameters\": {\n    \"sampleCount\": 1,\n    \"mode\": \"image-to-image\",\n    \"aspectRatio\": \"1:1\",\n    \"safetyFilterLevel\": \"block_some\",\n    \"personGeneration\": \"dont_allow\"\n  }\n} }}",
        "options": {}
      },
      "id": "gemini-api-call",
      "name": "Call Imagen API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"generated_image\": $json.predictions[0].bytesBase64Encoded,\n  \"mime_type\": \"image/png\",\n  \"timestamp\": $now\n} }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Missing required parameters: image_base64 and prompt are both required\",\n  \"timestamp\": $now\n} }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": false,\n  \"error\": \"Imagen API call failed: \" + $json.error.message,\n  \"details\": $json,\n  \"timestamp\": $now\n} }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "api-error-response",
      "name": "API Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Call Imagen API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Imagen API": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "API Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}